Input {
    dock: bottom;
    margin-bottom: 2;
    height: 3;
}

RichLog {
	padding-bottom: 1;
}

.loading_label {
	color: #0047ab;
	text-style: italic;
	content-align: center middle;
    width: 100%;
    height: 99%;
}
